<!--
&lt;!&ndash; login.component.html &ndash;&gt;
<div class="login-container">
  <h2>Se connecter</h2>

  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" required [(ngModel)]="loginRequest.username" name="username" class="form-control" />
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" required [(ngModel)]="loginRequest.password" name="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Se connecter</button>
  </form>

  <div class="social-login">
    <h4>Ou connectez-vous avec :</h4>
    <button (click)="onLoginWithGoogle()" class="btn btn-danger">Google</button>
  </div>
</div>
-->
